<div class="row">
    <div class="col-lg-3"></div>
<div class="col-lg-6">
<form (ngSubmit)="addMarks(details)" #details="ngForm">
    <table>
        <tr>
    <td><h5>Enrollment No - </h5></td>
    <td><p>{{infoservice.result[0].enroll}}</p></td>
</tr>
<tr>
   <td> <h5>Semester - </h5></td>
   <td><p>{{infoservice.result[0].semester}}</p></td>
</tr>
<tr>
    <td><h5>Year - </h5></td>
    <td><p>{{infoservice.result[0].year}}</p></td>
</tr>

</table>
    <table border="1px solid black">
        <tr>
            <th>SUBJECTS</th>
            <th>Code</th>
            <th>CREDIT TH</th>
            <th>CREDIT PR</th>
            <th>MAX TH</th>
            <th>MAX PR</th>
            <th>MT</th>
            <th>TH</th>
            <th>PR</th>
            <th>Backlog</th>
        </tr>
        <tr>
            <td  align="right" class="style1">{{infoservice.result[0].subject}}</td>        
            <td  align="right" class="style1">{{infoservice.result[0].code}}</td> 
            <td  align="right" class="style1">{{infoservice.result[0].creditth}}</td> 
            <td  align="right" class="style1">{{infoservice.result[0].creditpr}}</td> 
            <td  align="right" class="style1">{{infoservice.result[0].maxtheory}}</td> 
            <td  align="right" class="style1">{{infoservice.result[0].maxpractical}}</td> 
            <td  align="right" class="style1"><input type="text" class="form-control" name="MT0" #MT0="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH0" #TH0="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR0" #PR0="ngModel" ngModel /></td>
            <td  align="right" class="style1">{{infoservice.backlog0}}</td> 
            
            
        </tr>
        <tr>
            <td  align="right" class="style1">{{infoservice.result[1].subject}}</td>        
            <td  align="right" class="style1">{{infoservice.result[1].code}}</td> 
            <td  align="right" class="style1">{{infoservice.result[1].creditth}}</td> 
            <td  align="right" class="style1">{{infoservice.result[1].creditpr}}</td> 
            <td  align="right" class="style1">{{infoservice.result[1].maxtheory}}</td> 
            <td  align="right" class="style1">{{infoservice.result[1].maxpractical}}</td> 
            <td  align="right" class="style1"><input type="text" class="form-control" name="MT1" #MT1="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH1" #TH1="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR1" #PR1="ngModel" ngModel /></td>
            <td  align="right" class="style1">{{infoservice.backlog1}}</td> 
        </tr>
        <tr>
            <td  align="right" class="style1">{{infoservice.result[2].subject}}</td>        
            <td  align="right" class="style1">{{infoservice.result[2].code}}</td> 
            <td  align="right" class="style1">{{infoservice.result[2].creditth}}</td> 
            <td  align="right" class="style1">{{infoservice.result[2].creditpr}}</td> 
            <td  align="right" class="style1">{{infoservice.result[2].maxtheory}}</td> 
            <td  align="right" class="style1">{{infoservice.result[2].maxpractical}}</td> 
            <td  align="right" class="style1"><input type="text" class="form-control" name="MT2" #MT2="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH2" #TH2="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR2" #PR2="ngModel" ngModel /></td>
            <td  align="right" class="style1">{{infoservice.backlog2}}</td> 
        </tr>
        <tr>
        <td  align="right" class="style1">{{infoservice.result[3].subject}}</td>        
        <td  align="right" class="style1">{{infoservice.result[3].code}}</td> 
        <td  align="right" class="style1">{{infoservice.result[3].creditth}}</td> 
        <td  align="right" class="style1">{{infoservice.result[3].creditpr}}</td> 
        <td  align="right" class="style1">{{infoservice.result[3].maxtheory}}</td> 
        <td  align="right" class="style1">{{infoservice.result[3].maxpractical}}</td> 
        <td  align="right" class="style1"><input type="text" class="form-control" name="MT3" #MT3="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH3" #TH3="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR3" #PR3="ngModel" ngModel /></td>
            <td  align="right" class="style1">{{infoservice.backlog3}}</td> 
        </tr>
     <tr>
    <td  align="right" class="style1">{{infoservice.result[4].subject}}</td>        
        <td  align="right" class="style1">{{infoservice.result[4].code}}</td> 
        <td  align="right" class="style1">{{infoservice.result[4].creditth}}</td> 
        <td  align="right" class="style1">{{infoservice.result[4].creditpr}}</td> 
        <td  align="right" class="style1">{{infoservice.result[4].maxtheory}}</td> 
        <td  align="right" class="style1">{{infoservice.result[4].maxpractical}}</td> 
        <td  align="right" class="style1"><input type="text" class="form-control" name="MT4" #MT4="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH4" #TH4="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR4" #PR4="ngModel" ngModel /></td>
            <td  align="right" class="style1">{{infoservice.backlog4}}</td> 
        </tr>
    <tr>
        <td  align="right" class="style1">{{infoservice.result[5].subject}}</td>        
        <td  align="right" class="style1">{{infoservice.result[5].code}}</td> 
        <td  align="right" class="style1">{{infoservice.result[5].creditth}}</td> 
        <td  align="right" class="style1">{{infoservice.result[5].creditpr}}</td> 
        <td  align="right" class="style1">{{infoservice.result[5].maxtheory}}</td> 
        <td  align="right" class="style1">{{infoservice.result[5].maxpractical}}</td> 
        <td  align="right" class="style1"><input type="text" class="form-control" name="MT5" #MT5="ngModel" ngModel/></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="TH5" #TH5="ngModel" ngModel /></td>
            <td  align="right" class="style1"><input type="text" class="form-control" name="PR5" #PR5="ngModel" ngModel /></td>
    
    <td  align="right" class="style1">{{infoservice.backlog5}}</td>         
</tr>

    
    </table>
    <button align="right" type="submit" class="btn btn-primary">Submit</button>
</form>


<button class="btn btn-primary" (click)="show()">Give Result</button>


</div>
<div class="col-lg-3"></div>
</div>

<div *ngIf="showresult">
    <p>Result of {{sem}} sem is {{totalresult}}</p>
    

    <table style="border:1px solid black">
        <tr>
    <td style="width: 300px;">Enroll </td>
    <td style="width: 300px;">SGPA 1</td>
    <td style="width: 300px;">SGPA 2</td>
    <td style="width: 300px;">SGPA 3</td>
    <td style="width: 300px;">SGPA 4</td>
    <td style="width: 300px;">SGPA 5</td>
    <td style="width: 300px;">SGPA 6</td>
    <td style="width: 300px;">SGPA 7</td>
    <td style="width: 300px;">SGPA 8</td>
    <td style="width: 300px;">OGPA</td>
</tr>
</table>    
<br>
    <table style="border:1px solid black" *ngIf="!isalready">
        <tr>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.enroll"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem1"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem2"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem3"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem4"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem5"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem6"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem7"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.Sem8"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="details1.ogpa"></td>
        </tr>
    </table>

    <table style="border:1px solid black" *ngIf="isalready">
        <tr>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.enroll"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem1"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem2"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem3"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem4"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem5"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem6"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem7"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.Sem8"></td>
    <td style="width: 300px;"><input class = "form-control" type="text" [(ngModel)]="editresult.ogpa"></td>
        </tr>
    </table>
    <button (click)="addresult()" class="btn btn-primary">Submit</button>
</div>